# Quartus II
db/
incremental_db/
output_files/
precision_work/
work/
simulation/
*.rpt
*.chg
*.htm
*.qws
*.qdf
*.sof
*.pof
*.done
*.pin
*.smsg
*.summary
*.qdb
*.qdz
*.qip
*.qxp
*.rff
*.sld
*.sta
*.swf
*.sld
*.dsn
*.psr
*.jdi
*.bak
*.log

# Nix
*.drv
result*
.direnv
